@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Montserrat', sans-serif;
}
button {
    outline: none;
}
a {
  text-decoration: none;
}

.main {
    background-size: cover;
    background: transparent linear-gradient(348deg, #141416, #16131a 15%, #161419 85%, #2e214b) 0 0 no-repeat padding-box;
    min-width: 100em;
    min-height: 100em;
    color: #fff;
}

.info {
  min-height: 4.5em;
  background-color: rgba(20, 20, 20, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* Или space-between, flex-start, flex-end */
  align-items: center; /* Выравнивание по вертикали */
  position: fixed; /* Фиксируем элемент */
  top: 0; /* Пример: зафиксировать элемент сверху экрана */
  left: 0;
  right: 0;
  z-index: 1000; /* Чтобы элемент был выше других */
}


.logo{
  max-height: 4em;
  margin-top: 0.25em;
  margin-left: 1em;
}

/* Стили для выпадающего списка */
.dropdown {

  cursor: pointer;
  position: relative;
  display: inline-block;
}

/* Кнопка для выбора */
.dropdown-btn {

    cursor: pointer;
    width: 14em;
  --cyan: #00FFFF	;
  font-size: 15px;
  padding: 0.7em 2.7em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  background: linear-gradient(to right, var(--cyan) 1%, transparent 1%,transparent 99% , var(--cyan) 100%);
  border: 2px solid var(--cyan);
  color: var(--cyan);
  box-shadow: inset 0 0 10px var(--cyan);
}

/* Скрытый список по умолчанию */
.dropdown-content {

  display: none;
  position: absolute;
  background-color: #222;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Элементы списка */
.dropdown-content li {
  padding: 12px 16px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.dropdown-content li:hover {
  background-color: #f1f1f1;
  color: #000;
}

.metamask{
  margin-top:0.5em;
  max-height: 3em;
  --green: #1BFD9C;
 font-size: 15px;
 padding: 0.7em 2.7em;
 letter-spacing: 0.06em;
 position: relative;
 font-family: inherit;
 border-radius: 0.6em;
 overflow: hidden;
 transition: all 0.3s;
 line-height: 1.4em;
 border: 2px solid var(--green);
 background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
 color: var(--green);
 box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}


.metamask:hover {
  color: #82ffc9;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}

.metamask:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
}

.metamask:hover:before {
  transform: translateX(15em);
}


.mtt{  display: flex;
  flex-direction: row;
  justify-content: space-around; /* Или space-between, flex-start, flex-end */
  align-items: center; }

  .mtt_h{
      --cyan: #1E90FF		;
      font-size: 15px;
      padding: 0.7em 2.7em;
      letter-spacing: 0.06em;
      position: relative;
      font-family: inherit;
      border-radius: 0.6em;
      overflow: hidden;
      transition: all 0.3s;
      line-height: 1.4em;
      border: 2px solid var(--cyan);
      color: var(--cyan);
      box-shadow: inset 0 0 10px var(--cyan);

    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Или space-between, flex-start, flex-end */
    align-items: center;
  margin-right: 1em;}

  .cssbuttons-io-button {

    display: flex;
    align-items: center;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 0.2em 0.7em 0.7em;
    color: white;
    background: #1E90FF;
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #1E90FF;
    letter-spacing: 0.05em;
    border-radius: 20em;
}

.cssbuttons-io-button svg {
  margin-right: 6px;
}

.cssbuttons-io-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #1E90FF;
}

.cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

.title{
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family:sans-serif;
  font-size: 240%;
}

.menu{
  padding-top: 5.5em;
  background-color: rgba(20, 20, 20, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* Или space-between, flex-start, flex-end */
  align-items: center;
}

.menu-label{


}

.picked {
  color: #00FFFF;
  font-size: 250%;
  border-bottom: 2px solid #00FFFF; /* Нижняя граница того же цвета */
}


.circle {
    margin-left: 3%;
    width: 400px;    /* Ширина большого круга */
    height: 400px;   /* Высота для узкого круга */
    border-radius: 100%;   /* Делаем форму круга */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 2px solid #bbb;  /* Для правильного позиционирования вложенного элемента */
}

/* Маленький круг, на 5% меньше и жирный */
.minicircle {
    width: 380px;   /* 5% меньше ширины */
    height: 380px;   /* 5% меньше высоты */
    border-radius: 100%;  /* Делаем форму круга */
    border: 6px solid #bbb; /* "Жирность" маленького круга */
    /* Делаем форму круга */
     display: flex;
     justify-content: center;
     align-items: center;
}

.tvl {
  font-size: 250%;
}


.your_volume{
  font-style: italic;
  font-size:45%;

   display: flex;
   justify-content: center;
   align-items: center;
}

.your_profit{
    font-size:45%;
    color: #4CBB17;
    margin-top: 0.4em;
   display: flex;
   justify-content: center;
   align-items: center;
}

.staking-block{

   display: flex;
   margin-left: 1em;
   margin-top: 3em;
   /* justify-content:space-around; */
   /* flex-direction:row; */
   align-items: center;
   width: 90%;
}

.infoblock{
  height:320px;

  width: 520px;
  font-size: 2em;

     display:grid;
     justify-content: center;
      align-items: center;

     border-radius: 0.6em;
}


.txbutton {
  /* in scss with just one variable i can change opacity with rgba(variable, opacity) but in css it's not possible so i have used three seperate variables */
  /* with hue-rotate color can be changed */
  /* change this rotation value */
  filter: hue-rotate(0deg);

  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.3rem; /* уменьшено */
  background: radial-gradient(
      circle,
      var(--main-bg-color) 0%,
      rgba(0, 0, 0, 0) 95%
    ),
    linear-gradient(var(--pattern-color) 1px, transparent 1px),
    linear-gradient(to right, var(--pattern-color) 1px, transparent 1px);
  background-size:
    cover,
    15px 15px,
    15px 15px;
  background-position:
    center center,
    center center,
    center center;
  border-image: radial-gradient(
      circle,
      var(--main-color) 0%,
      rgba(0, 0, 0, 0) 100%
    )
    1;
  border-width: 1px 0 1px 0;
  color: var(--main-color);
  padding: 0.7rem 2rem; /* уменьшено */
  font-weight: 700;
  font-size: 1.2rem; /* уменьшено */
  transition: background-size 0.2s ease-in-out;
}

.txbutton:hover {
  background-size:
    cover,
    10px 10px,
    10px 10px;
}
.txbutton:active {
  filter: hue-rotate(250deg);
}

.stake{
    margin-left: 7em;
    width: 15em;
    height: 5em;
    --main-color: rgb(46, 213, 115);
    --main-bg-color: rgba(46, 213, 116, 0.36);
    --pattern-color: rgba(46, 213, 116, 0.073);

}


.unstake{
    margin-left: 7em;
    margin-top: 1.5em;
    width: 15em;
    height: 2.5em;
      --main-color: rgb(237,	141,	64);
      --main-bg-color: rgba(237,	141,	64, 0.36);
      --pattern-color: rgba(237,	141,	64, 0.073);

}

.recieve{
  margin-top: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1em;
  margin-left: 0px;
  --main-color: rgb(66, 170, 255);
  --main-bg-color: rgba(33, 75, 255, 0.36);
  --pattern-color: rgba(33, 75, 255, 0.073);
}

.group {
  margin-top: 1.5em;
  transform: translateX(33%);
  margin-left: 3em;
 position: relative;
}

.input {


 font-size: 16px;
 padding: 10px 10px 10px 5px;
 display: block;
 /* width: 25em; */
 border: none;
 border-bottom: 1px solid #515151;
 background: transparent;
 color: #fff
}

.input:focus {
 outline: none;
}

label {
 color: #ddd;
 font-size: 18px;
 font-weight: normal;

 position: absolute;
 pointer-events: none;
 left: 5px;
 top: 10px;
 transition: 0.2s ease all;
 -moz-transition: 0.2s ease all;
 -webkit-transition: 0.2s ease all;
}

.input:focus ~ label, .input:valid ~ label {

 top: -20px;
 font-size: 14px;
 color: #5264AE;
}


.bar {
 position: relative;
 display: block;


}

.bar:before, .bar:after {
 content: '';
 height: 2px;
 width: 0;
 bottom: 1px;
 position: absolute;
 background: #5264AE;
 transition: 0.2s ease all;
 -moz-transition: 0.2s ease all;
 -webkit-transition: 0.2s ease all;
}


.input:focus ~ .bar:before, .input:focus ~ .bar:after {
 width: 210px;
}

.highlight {
 position: absolute;
 height: 60%;
 width: 100px;
 top: 25%;
 left: 0;
 pointer-events: none;
 opacity: 0.5;
}

.percent {
 appearance: none;
 background-color: transparent;
 border: 0.075em solid white;
 border-radius: 0.5em;
 box-sizing: border-box;
 color: white;
 cursor: pointer;
 display: inline-block;
 font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
 font-size: 10px;
 font-weight: 600;
 line-height: normal;
 margin-top: 0.5em;
 /* min-height: 3.75em; */
 min-width: 0;
 outline: none;
 padding: 0.5em 1.5em;
 text-align: center;
 text-decoration: none;
 transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 will-change: transform;
}

.percent:disabled {
 pointer-events: none;
}

.percent:hover {
 color: yellow;
 background-color: #1A1A1A;
 border-color: yellow;
 box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
}

.percent:active {
 box-shadow: none;
 transform: translateY(0);
}

.input:focus ~ .highlight {
 animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
 from {
  background: #5264AE;
 }

 to {
  /* width: 0; */
  background: transparent;
 }
}
.infoblock{
  height: 10em;
  margin-top:0em;
  justify-content: center;
  align-items: center;}

.txgroup{

  display: flex;
  flex-direction: row;
  justify-content: center;
align-items: center;
 /* Выравнивание по вертикали */
  margin-right: 2em;

}
.txbutton {
  /* in scss with just one variable i can change opacity with rgba(variable, opacity) but in css it's not possible so i have used three seperate variables */
  /* with hue-rotate color can be changed */
  /* change this rotation value */
  filter: hue-rotate(0deg);

  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.3rem; /* уменьшено */
  background: radial-gradient(
      circle,
      var(--main-bg-color) 0%,
      rgba(0, 0, 0, 0) 95%
    ),
    linear-gradient(var(--pattern-color) 1px, transparent 1px),
    linear-gradient(to right, var(--pattern-color) 1px, transparent 1px);
  background-size:
    cover,
    15px 15px,
    15px 15px;
  background-position:
    center center,
    center center,
    center center;
  border-image: radial-gradient(
      circle,
      var(--main-color) 0%,
      rgba(0, 0, 0, 0) 100%
    )
    1;
  border-width: 1px 0 1px 0;
  color: var(--main-color);
  padding: 0.7rem 2rem; /* уменьшено */
  font-weight: 700;
  font-size: 1.2rem; /* уменьшено */
  transition: background-size 0.2s ease-in-out;
}


.interaction{

}
